<!-- About - How it's made? - Start -->
<section id="about" class="section-about">
  <div class="section-about__bg-milk">
    <div class="container">
      <p class="section-about__label">tradition and love</p>
      <h2 class="section-about__title">how it’s made?</h2>
      <div class="section-about__wrap">
        <div class="section-about__img">
          <picture>
            <source
              srcset="./images/cow-501.png 1x, ./images/cow-1002.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="./images/cow-336.png 1x, ./images/cow-672.png 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="./images/cow-280.png 1x, ./images/cow-560.png 2x"
              media="(min-width: 320px)"
            />
            <img class="section-about__img-pos" src="./images/cow-280.png" alt="Cow and milk" />
          </picture>
        </div>

        <div class="section-about__text-box">
          <p class="section-about__text section-about__text--first">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>

          <p class="section-about__text section-about__text--second">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <br />
          <p class="section-about__text section-about__text--second">
            Aliquam erat volutpat. Aenean accumsan.
          </p>

          <button data-modal-about-open type="button" class="about-btn-read-more">
            Read more
            <svg class="about-btn-read-more__icon" width="6" height="12">
              <use href="./images/sprite.svg#mark"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About - How it's made? - end -->
