<section class="gallery">
    <div class="container">
        <ul class="gallery-list list">
            <li class="gallery-list__item gallery-box-1">
                <picture>
                    <source srcset="
                    images/gallery/g-box-1-480.jpg 1x,
                    images/gallery/g-box-1-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-1-240.jpg 1x,
                    images/gallery/g-box-1-480.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-1-240.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-1-120.jpg" alt="Ice Cream"/>
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-2">
                <picture>
                    <source srcset="
                    images/gallery/g-box-2-480.jpg 1x,
                    images/gallery/g-box-2-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-2-240.jpg 1x,
                    images/gallery/g-box-2-480.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-2-240.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-2-120.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-3">
                <picture>
                    <source srcset="
                    images/gallery/g-box-3-480.jpg 1x,
                    images/gallery/g-box-3-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-3-240.jpg 1x,
                    images/gallery/g-box-3-480.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-3-240.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-3-120.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-4">
                <picture>
                    <source srcset="
                    images/gallery/g-box-4-960.jpg 1x,
                    images/gallery/g-box-4-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-4-480.jpg 1x,
                    images/gallery/g-box-4-960.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-4-480.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img gallery-list__img-m" src="images/gallery/g-box-4-240.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-5">
                <picture>
                    <source srcset="
                    images/gallery/g-box-5-480.jpg 1x,
                    images/gallery/g-box-5-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-5-240.jpg 1x,
                    images/gallery/g-box-5-480.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-5-240.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-5-120.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-6">
                <picture>
                    <source srcset="
                    images/gallery/g-box-6-480.jpg 1x,
                    images/gallery/g-box-6-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-6-240.jpg 1x,
                    images/gallery/g-box-6-480.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                images/gallery/g-box-6-240.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-6-120.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-7">
                <picture>
                    <source srcset="
                    images/gallery/g-box-7-480.jpg 1x,
                    images/gallery/g-box-7-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-7-240.jpg 1x,
                    images/gallery/g-box-7-480.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-7-240.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-7-120.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-8">
                <picture>
                    <source srcset="
                    images/gallery/g-box-8-480.jpg 1x,
                    images/gallery/g-box-8-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-8-240.jpg 1x,
                    images/gallery/g-box-8-480.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-8-240.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-8-120.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-9">
                <picture>
                    <source srcset="
                    images/gallery/g-box-9-480.jpg 1x,
                    images/gallery/g-box-9-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-9-240.jpg 1x,
                    images/gallery/g-box-9-480.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-9-240.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-9-120.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-10">
                <picture>
                    <source srcset="
                    images/gallery/g-box-10-480.jpg 1x,
                    images/gallery/g-box-10-max.jpg 2x" media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-10-240.jpg 1x,
                    images/gallery/g-box-10-480.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <source srcset="
                    images/gallery/g-box-10-240.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-10-120.jpg" alt="Ice Cream"  />
                </picture>
            </li>
        </ul>
    </div>
</section>