<!-- Mobile-menu -->
<div class="overlay is-hidden" data-mob-menu data-mob-menu-close>
  <div class="mob-menu">
    <div class="container">
      <button type="button" class="menu-btn-close" data-mob-menu-close>
        <svg class="menu-btn-close__icon" width="14" height="14">
          <use href="./images/sprite.svg#menu"></use>
        </svg>
      </button>

      <button type="button" class="primary-btn mob-menu__btn" data-modal-open>
        Buy now
        <svg class="primary-btn__icon--margin" width="5" height="8">
          <use href="./images/sprite.svg#mark"></use>
        </svg>
      </button>

      <ul class="mob-menu-list">
        <li class="mob-menu-list__item">
          <a class="mob-menu-list__link" href="./index.html" title="Home">Home</a>
        </li>

        <li class="mob-menu-list__item">
          <a class="mob-menu-list__link" href="#advantages" title="About us">About us</a>
        </li>

        <li class="mob-menu-list__item">
          <a class="mob-menu-list__link" href="#about" title="How it’s made?">How it’s made?</a>
        </li>

        <li class="mob-menu-list__item">
          <a class="mob-menu-list__link" href="#products" title="Our products">Our products</a>
        </li>

        <li class="mob-menu-list__item">
          <a class="mob-menu-list__link" href="#contacts" title="Contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
