<!-- section Products -->
<section id="products" class="products">
  <div class="container">
    <p class="products__label title">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products__list list">
      <li class="products__item first-item animated">
        <div class="product-card first-card">
          <h3 class="product-card__title title">ice cream</h3>
          <div class="prouct-card__tumb">
            <p class="product-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <p class="product-card__des first-des">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, hic.
            </p>
          </div>
          <button class="product-card__but first-btn" type="button">
            <svg class="product-card__icon" width="15" height="14">
              <use href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item second-item animated">
        <div class="product-card second-card">
          <h3 class="product-card__title title">ice coffee</h3>
          <div class="prouct-card__tumb">
            <p class="product-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <p class="product-card__des second-des">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, hic.
            </p>
          </div>
          <button class="product-card__but second-btn" type="button">
            <svg class="product-card__icon" width="15" height="14">
              <use href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item third-item animated">
        <div class="product-card third-card">
          <h3 class="product-card__title title">milkshakes</h3>
          <div class="prouct-card__tumb">
            <p class="product-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <p class="product-card__des third-des">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, hic.
            </p>
          </div>
          <button class="product-card__but third-btn" type="button">
            <svg class="product-card__icon" width="15" height="14">
              <use href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
