<!-- Customer Reviews -->
<!-- Slick Edition -->

<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">reviews</h2>
    <div class="reviews__slider-list single-item" id="small-preview">
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_01.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              The technology stack is optimal for me, the program is interesting and close to work.
              I enjoy learning!
            </p>
          </div>
        </div>
        <p class="reviews__location">Alex, Odesa</p>
      </article>
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_02.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              On a team project, I learned teamwork with GitHub. I also learned how to create this
              section (Slider) in three different method.
            </p>
          </div>
        </div>
        <p class="reviews__location">Artem, Odesa</p>
      </article>
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_03.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              Final course HTML + CSS2.0 from GoIT. Thank you for the new knowledge and great time.
              Soon - JavaScript!
            </p>
          </div>
        </div>
        <p class="reviews__location">Victor, Kyiv</p>
      </article>
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_04.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              Andrey from Odesa, developer of Gallery section. Thanks a lot for GoIT team and
              special for Andrey Danilko - lecturer with good sence of humor!
            </p>
          </div>
        </div>
        <p class="reviews__location">Andrey, Odesa</p>
      </article>
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_05.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              For me, the GoIT is the best start to a new life! Yulia
            </p>
          </div>
        </div>
        <p class="reviews__location">Yulia, Kyiv</p>
      </article>
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_06.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              I'm glad I chose GoIt courses. I like the training program, interesting tasks, team
              projects, support from mentors. I will recommend GoIt to my friends.
            </p>
          </div>
        </div>
        <p class="reviews__location">Anna, Odesa</p>
      </article>
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_07.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              In this project I was responsible for development of 'footer section'. It's my first
              experience of teamwork so I improved my soft skills a lot also I want to say that my
              colleagues are very reliable and awesome.
            </p>
          </div>
        </div>
        <p class="reviews__location">Oleksandr, Kyiv</p>
      </article>
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_08.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              GoIT courses are not only about gaining knowledge in the IT field, but also about
              finding new communications and developing new qualities.
            </p>
          </div>
        </div>
        <p class="reviews__location">Maksym, Odesa</p>
      </article>
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_09.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              Thanks to GoIT for helping me choose a profession. Learning is difficult but
              interesting. Thanks to all teachers, mentors and classmates. You are cool!
            </p>
          </div>
        </div>
        <p class="reviews__location">Olena, Kyiv</p>
      </article>
      <article class="reviews__slider-item">
        <img class="reviews__avatar" src="./images/avatar_10.jpg" alt="customer" />
        <div class="reviews__box">
          <div class="reviews__text-box">
            <p class="reviews__slider-text">
              GoIT courses are an opportunity to enter IT without any experience. The whole learning
              process is very well built, the program includes the study of modern technologies,
              teamwork provides invaluable experience!
            </p>
          </div>
        </div>
        <p class="reviews__location">Oleg, Odesa</p>
      </article>
    </div>
  </div>
</section>

<!-- Customer Reviews end -->
