.overlay {       
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--timing-duration) var(--timing-function),
        visibility var(--timing-duration) var(--timing-function);    

    @include desktop {
        display: none;
    }
    
}

.mob-menu {
    position: fixed;
    top: 0;    

    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: var(--bg-color-burger);

    z-index: 7;

    opacity:1;
    overflow: hidden;

    transform: translateX(0);
    transition: transform var(--timing-duration) var(--timing-function);    

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;        

        padding-left: 0;
        padding-right: 0;
    }

    @include tablet {
        width: calc((100% - 64px) / 2.65);
        right: 0;

        .container {
            width: calc((100vw - 64px) / 2.65);
        }
    }

    @include desktop {
        display: none;
    }
}

.overlay.is-hidden .mob-menu{
    transform: translateX(100%);    
}

.menu-btn-close {
    height: 14px;

    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 24px;
    padding: 0;

    background-color: transparent;

    @include tablet {
        margin-bottom: 0;
    }
}

.menu-btn-close__icon {

    stroke: var(--btn-color2);
    transition: stroke var(--timing-duration) var(--timing-function);

    &:hover,
    &:focus {
        stroke: var(--btn-color1);        
    }
}

.mob-menu__btn {
    min-width: 209px;
    margin-bottom: 32px;

    @include tablet {
        min-width: 186px;
        margin-bottom: 20px;
    }
}

.primary-btn__icon--margin {
    margin-left: 28px;

    @include tablet {
        margin-left: 21px;
    }
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.mob-menu-list__item {
    &:nth-child(2n+1) {
        border-top: 1px solid #E18298;
        border-bottom: 1px solid #E18298;        
    }
}

.mob-menu-list__link {
    display: block;

    padding-left: 20px;

    padding-top: 12px;
    padding-bottom: 12px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: var(--main-font-color);
    transition: color var(--timing-duration) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-font-color);        
    }
}