.products {
  padding-top: 80px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 60px;
  }
}
.products__list {
  @include tablet {
    display: flex;
    justify-content: center;
  }
}

.products__item {
  height: 629px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  position: relative;

  @include tablet {
    padding-top: 138px;
    height: 611px;
    width: 224px;
    margin-left: 0;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  @include desktop {
    padding-top: 261px;
    height: 796px;
    width: 395px;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.products__label {
  display: block;
  color: var(--title-font-color2);
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 15px;
  text-align: center;

  @include tablet {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
  @include desktop {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.products__title {
  margin-bottom: 8px;
  @include tablet {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 16px;
  }
  @include desktop {
    font-size: 58px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    margin-bottom: 0;
  }
}
